:root {
  color-scheme: light;
}

/*---Header and nav bar----*/
.header {
  min-height: 100vh;
  width: 100%;
  background-color: #b1afff;
  background-position: center;
  background-size: cover;
  position: relative;
}

a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
}

h1 {
  text-align: center;
}

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 211, 211);
  font-family: "Poppins", sans-serif;
  color: rgb(57, 57, 57);
  text-align: center;
}
nav img {
  width: 150px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

<<<<<<< HEAD
nav img {
  width: 300px;
}

=======
>>>>>>> c6bd96bf9d76b4c12ae653413dca41703d82a11f
.navlinks {
  flex: 1;
  text-align: right;
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: turquoise;
  display: block;
  margin: auto;
  transition: 1s;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}
.navlinks ul li:hover::after {
  width: 100%;
  cursor: pointer;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}

.navlinks ul li:hover > ul,
ul li ul:hover {
  visibility: visibile;
  opacity: 1;
  display: table;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  font-size: 5px;
  transition: 0.5s;
}

.navlinks ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
}

.test-area {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 10px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 20px;
  font: normal 16px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: White;
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
  min-width: 800px;
}

.main-area {
  margin: auto;
  max-width: 1170px;
  border: 0px solid #73ad21;
  padding: 10px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#color-left {
  display: inline-block;
}

#color-right {
  display: inline-block;
}
p {
  font-size: 10px;
  color: black;
}
#p1 {
  font-size: 20px;
  color: black;
}
#p2 {
  font-size: 20px;
  color: black;
}

.pleft {
  text-align: left !important;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #343634;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

#color-left {
  border: 0px solid red;
  padding: 10px;
  border-radius: 10px;
}

#color-right {
  border: 0px solid red;
  padding: 10px;
  border-radius: 10px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: Black;
  background-color: Silver;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: RGB(220, 255, 220);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
select {
  font-size: 32px;
}
