:root {
  color-scheme: light;
}

/*---Header and nav bar----*/
.header {
  min-height: 100vh;
  width: 100%;
  background-color: #b1afff;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: turquoise;
  display: block;
  margin: auto;
  transition: 1s;
}

.navlinks ul li:hover::after {
  width: 100%;
  cursor: pointer;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}

.navlinks ul li:hover > ul,
ul li ul:hover {
  visibility: visibile;
  opacity: 1;
  display: block;
  position: absolute;
  margin: 0;
  text-align: center;
}

.navlinks ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #d1d1d1;
  font-size: 16px;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: 32px;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  align-items: center;
}

h1::after,
h1::before {
  display: flex;
  flex: 1;
  content: "";
  height: 1px;
  background: #222;
  margin: 0 32px;
}

h2 {
  padding: 32px;
}

/*
.textbox {
  position: absolute;
  width: 90%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textbox h1 {
  font-size: 62px;
}

.textbox p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.testbutton {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.testbutton:hover {
  border: 1px solid white;
  background: hotpink;
}
*/

/*--- Our Vision ----*/
.ContactUs {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.ContactCol {
  flex-basis: 31%;
  background: turquoise;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.ContactCol:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*----------Tests Page ----------*/
/*
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(ColorBlind.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.sub-header h1 {
  margin-top: 100px;
}

.tests {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.test-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  color: white;
}

.test-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
*/

/*----------Reaction Time Test ----------*/
.clickable-area {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: limegreen;
  display: grid;
  place-items: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.end-screen,
.main-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #0d3b66;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main-menu.active,
.end-screen.active {
  display: grid;
  place-items: center;
}

.main-menu {
  cursor: pointer;
}

.container {
  max-width: 700px;
  padding: 0 32px;
}

.main-menu h1 {
  font-size: 70px;
  margin: 8px 0;
}

.container p {
  font-size: 20px;
  line-height: 2;
  font-weight: 800;
  margin: 0;
}

.end-screen h1 {
  font-size: 30px;
}

.reaction-time-text {
  font-size: 100px;
  font-weight: 900;
}

.end-screen .play-again-btn {
  border: none;
  background: #faf0ca;
  font-size: 20px;
  padding: 8px 32px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
}

.play-area {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.user-circle,
.computer-circle {
  border-radius: 50%;
  border: 2px solid black;
  height: 400px;
  width: 400px;
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-circle p {
  background: black;
  color: white;
  padding: 8px 32px;
}

.controls {
  text-align: center;
  width: 100%;
  padding: 0 16px;
}

/* Sliders */
input[type="range"] {
  padding: 24px 0;
}

/* Style custom slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* The Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* Slider - the track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* Custom slider colors */
#red::-webkit-slider-runnable-track {
  background: red;
}

#red:focus::-webkit-slider-runnable-track {
  background: red;
}

#red::-moz-range-track {
  background: red;
}

#red::-ms-fill-lower {
  background: red;
}

#red:focus::-ms-fill-lower {
  background: red;
}

#red::-ms-fill-upper {
  background: red;
}

#red:focus::-ms-fill-upper {
  background: red;
}

/* Custom slider colors - Green */
#green::-webkit-slider-runnable-track {
  background: green;
}

#green:focus::-webkit-slider-runnable-track {
  background: green;
}

#green::-moz-range-track {
  background: green;
}

#green::-ms-fill-lower {
  background: green;
}

#green:focus::-ms-fill-lower {
  background: green;
}

#green::-ms-fill-upper {
  background: green;
}

#green:focus::-ms-fill-upper {
  background: green;
}

/* Custom slider colors - Blue*/
#blue::-webkit-slider-runnable-track {
  background: blue;
}

#blue:focus::-webkit-slider-runnable-track {
  background: blue;
}

#blue::-moz-range-track {
  background: blue;
}

#blue::-ms-fill-lower {
  background: blue;
}

#blue:focus::-ms-fill-lower {
  background: blue;
}

#blue::-ms-fill-upper {
  background: blue;
}

#blue:focus::-ms-fill-upper {
  background: blue;
}

/* Decrement and increment buttons */
.btn-change {
  padding: 8px 16px;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.score-text,
.color-to-match {
  padding: 8px;
  font-size: 32px;
  font-weight: bold;
}

.score-text {
  font-size: 24px;
}

.game-buttons {
  display: flex;
}

#btn-match,
#btn-end-game,
#reset {
  height: 42px;
  flex: 2;
  background: lightblue;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 4px;
  border-radius: 8px;
}

#reset {
  flex: 1;
}

#btn-match:focus,
#btn-end-game:focus {
  outline: none;
}

.color-to-match {
  visibility: hidden;
  background: black;
  color: white;
  font-size: 20px;
}

.blue-color {
  color: blue;
}

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.color-value {
  display: inline-block;
  width: 64px;
  font-weight: bold;
}

/* Color Details */

.color-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reveal {
  background: rgb(170, 47, 47) !important;
  color: #fff;
  font-size: 20px;
}

/* Mobile Controls Hide */

.mobile-decrement {
  display: none;
}

.mobile-colorinfo {
  display: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .user-circle,
  .computer-circle {
    border-radius: 8px;
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .play-area {
    flex-direction: column;
    padding: 0;
  }

  .user-circle,
  .computer-circle {
    height: 120px;
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  h1 {
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    padding: 20px;
  }

  .score-text {
    font-size: 16px;
  }

  .color-details {
    display: none;
  }

  .mobile-controls {
    display: flex;
    align-items: center;
    margin: 4px 0;
  }

  .mobile-decrement {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 16px;
    border: 1px solid black;
    padding: 4px 16px;
    margin: 0 8px;
    color: #000;
    cursor: pointer;
  }

  .mobile-colorinfo {
    display: block;
  }
}