html, body {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  background-color: rgb(211, 211, 211);
=======
    width: 100%;
    height: 100%;
    background-color: rgb(211, 211, 211);
>>>>>>> c6bd96bf9d76b4c12ae653413dca41703d82a11f

  display: flex;
  justify-content: center;
  align-items: center;
} 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
a {
<<<<<<< HEAD
  color:rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
}

nav img {
width: 300px;
}

nav {
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}

.navlinks {
flex: 1;
text-align: right;
}
.navlinks ul li {
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}

.navlinks ul li::after {
content: "";
width: 0%;
height: 2px;
background: turquoise;
display: block;
margin: auto;
transition: 1s;
}

.navlinks ul li ul {
display: none;
opacity: 1;
padding: 8px 12px;
position: relative;
transition: 0.5s;
margin: 0%;
visibility: visible;
text-align: center;
}
.navlinks ul li:hover::after {
width: 100%;
cursor: pointer;
}

.navlinks ul li ul {
display: none;
opacity: 1;
padding: 8px 12px;
position: relative;
transition: 0.5s;
margin: 0%;
visibility: visible;
text-align: center;
=======
    color:rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
  }

nav img {
  width: 150px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  flex: 1;
  text-align: right;
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: turquoise;
  display: block;
  margin: auto;
  transition: 1s;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}
.navlinks ul li:hover::after {
  width: 100%;
  cursor: pointer;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
>>>>>>> c6bd96bf9d76b4c12ae653413dca41703d82a11f
}

.navlinks ul li:hover > ul,
ul li ul:hover {
<<<<<<< HEAD
visibility: visibile;
opacity: 1;
display: table;
left: 50%;
transform: translateX(-50%);
position: absolute;
text-align: center;
font-size: 5px;
transition: 0.5s;
}

.navlinks ul li ul li {
clear: both;
width: 100%;
text-align: center;
display: block;
=======
  visibility: visibile;
  opacity: 1;
  display: table;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  font-size: 5px;
  transition: 0.5s;
}

.navlinks ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
>>>>>>> c6bd96bf9d76b4c12ae653413dca41703d82a11f
}

#logo{ 
position:fixed; 
top:1ch; 
left:1ch; 
}
nav img {
  width: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
#content_container {
<<<<<<< HEAD
  width: 30%;
  height: 44%;
  display: inline;
=======
    width: 30%;
    height: 44%;
    display: inline;
>>>>>>> c6bd96bf9d76b4c12ae653413dca41703d82a11f
}

#form_container {
  width: 100%;
  height: 100%;

  background-color: #000000;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 2%;

  overflow: hidden;
}

#form_header_container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg,  #7a7a7a, #3c3c3c, #919191, #405b6a, turquoise) 20;
  background: #000;
}

#form_header {
  display: inline-block;
  font-size: 30px;
  font-family: Bowlby One SC;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;


  background: -webkit-linear-gradient(25deg,  #7a7a7a, #9e9d9d, #919191, #6a8a9c, turquoise);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

#form_content_container {
  width: 100%;
  height: 90%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;

  float: left;

}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: #000;
  font-family: Montserrat;
  font-weight: 500;
  color: #fff;
  font-size: 15px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(25deg,  #7a7a7a, #9e9d9d, #919191, #6a8a9c, turquoise) 1;
}

#button_container {
  width: 100%;
  height: 10%;

  background-image: linear-gradient(80deg,  #7a7a7a, #9e9d9d, #6a8a9c, turquoise);
  color: rgb(0, 0, 0);

  float: left;

  margin-top: 5px;
}

#button_container button {
  width: 100%;
  height: 100%;
  float: left;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 18px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}