:root{
  color-scheme: light;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/images/Gradient.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}

.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navlinks ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: turquoise;
  display: block;
  margin: auto;
  transition: 1.0s;
}

.navlinks ul li:hover::after{
  width: 100%;
  cursor: pointer;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}

.navlinks ul li:hover > ul,
ul li ul:hover {
  visibility: visibile;
  opacity: 1;
  display: block;
  position: absolute;
  margin: 0;
  text-align: center;
}

.navlinks ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;

}

.main-menu-textbox{
  position: absolute;
  width: 90%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-menu-textbox h1{
  font-size: 62px;
}

.main-menu-textbox p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.testbutton{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent; 
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.testbutton:hover{
  border: 1px solid white;
  background: turquoise;
}

/*--- Our Vision ----*/
.ContactUs{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: center;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.ContactCol{
  flex-basis: 31%;
  background: turquoise;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.ContactCol:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/*----------Tests Page ----------*/
.nav-header{
  height: 50vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(ColorBlind.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.nav-header h1{
  margin-top: 100px;
}


.tests{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.test-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  color: white;
}

.test-col img{
  width: 100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background: rgba(226,0,0,0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}


/*----------Reaction Time Test ----------*/



.clickable-area {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: limegreen;
  display: grid;
  place-items: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.end-screen, .main-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #0d3b66;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main-menu.active,
.end-screen.active {
  display: grid;
  place-items: center;


}

.main-menu {
  cursor: pointer;
}

.container {
  max-width: 700px;
  padding: 0 32px;
}

.main-menu h1 {
  font-size: 70px;
  margin: 8px 0;
}

.container p {
  font-size: 20px;
  line-height: 2;
  font-weight: 800;
  margin: 0;
}

.end-screen h1 {
  font-size: 30px;
}

.reaction-time-text {
  font-size: 100px;
  font-weight: 900;
}

.end-screen .play-again-btn {
  border: none;
  background: #faf0ca;
  font-size: 20px;
  padding: 8px 32px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
}
