@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 211, 211);
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
  text-align: center;
}
nav img {
  width: 150px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  flex: 1;
  text-align: right;
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: turquoise;
  display: block;
  margin: auto;
  transition: 1s;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}
.navlinks ul li:hover::after {
  width: 100%;
  cursor: pointer;
}

.navlinks ul li ul {
  display: none;
  opacity: 1;
  padding: 8px 12px;
  position: relative;
  transition: 0.5s;
  margin: 0%;
  visibility: visible;
  text-align: center;
}

.navlinks ul li:hover > ul,
ul li ul:hover {
  visibility: visibile;
  opacity: 1;
  display: table;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  font-size: 5px;
  transition: 0.5s;
}

.navlinks ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
}

.main-menu-textbox {
  position: absolute;
  width: 90%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.main-menu-textbox p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

h3 {
  text-align: center;
}

/*----------Tests Page ----------*/
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}


/*----------Dark Mode ----------*/

a {
  color:rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  
}

.dark a {
  color:turquoise;;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
  align-items: center;
}

.main-text p
{
 align-items: center;
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#javascript {
  left: 450px;
  bottom: 200px;
  background-image: url("images/javascript-square.png");
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#javascript:before {
  background-color: rgb(154, 221, 202);
}

#javascript:after {
  background-color: rgb(188, 221, 212);
}


#react {
  left: 350px;
  bottom: 40px;
  background-image: url("images/react-square.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before {
  background-color: rgb(154, 189, 221);
}

#react:after {
  background-color: rgb(188, 200, 221);
}

footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color:rgb(136, 136, 136);
}

.dark footer {
  background-color:rgb(28, 28, 28);
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 100%;
  }

  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
}


/*-----------Test Buttons---------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.container 
{
  font-size: small;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 100px;
	padding: 50px 0;
}
.container .box 
{
	position: relative;
	width: 300px;
	height: 350px;
	background: #2e2e2e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .box::before 
{
	content: '';
	position: absolute;
	border-top: 4px solid var(--clr);
	border-bottom: 4px solid var(--clr);
	inset: -10px 50px;
	z-index: -2;
	transform: skewY(15deg);
	transition: 0.5s ease-in-out
}
.container .box:hover::before 
{
	transform: skew(0deg);
	inset: -10px 40px;
}
.container .box::after 
{
	content: '';
	position: absolute;
	border-left: 4px solid var(--clr);
	border-right: 4px solid var(--clr);
	inset: 60px -10px;
	z-index: -1;
	transform: skew(15deg);
	transition: 0.5s ease-in-out
}
.container .box:hover::after 
{
	transform: skew(0deg);
	inset: 40px -10px;
}

.container .box:hover::after 
{
	transform: skew(0deg);
	inset: 40px -10px;
}

.container .box .content 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	padding: 0 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.container .box .content .icon 
{
	color: var(--clr);
	font-size: 2.5em;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2e2e2e;
	color: var(--clr);
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 0 4px #2e2e2e,
	0 0 0 6px var(--clr);
}
.container .box:hover .content .icon
{
	color : #2e2e2e;
	background: var(--clr);
	box-shadow: 0 0 0 4px #2e2e2e,
	0 0 0 300px var(--clr);
}
.container .box .content .text h3 
{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
	transition: 0.5s ease-in-out;
}
.container .box:hover .content .text h3
{
	color: #2e2e2e;
}
.container .box .content .text p
{
	color: #777;
	transition: 0.5s ease-in-out;
}
.container .box:hover .content .text p
{
	color: #333;
}
.container .box .content .text a 
{
	position: relative;
	background: var(--clr);
	color: #2e2e2e;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	transition: 0.5s ease-in-out;
}
.container .box:hover .content .text a
{
	background: #2e2e2e;
	color: var(--clr);
}
