/*.modal-container{    
    background-color: gray;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   opacity: 0;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   pointer-events: none;
    
}

button{
    background-color: darkgray;
    border: 0;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;

}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,  0,  0, 0.2);
    padding:  30px 50px;
    width:  600px;
    max-width: 100%;
    position: absolute;
    text-align: center;
    justify-content: center;
}

.modal  h1{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: darkgray;
    padding: 10px 25px;
    text-align: center;
}

.modal p{
    font-size: 18px;
    opacity: 0.7

}

*/
.btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.9);
  }
  
  .close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
  }
 
  .modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
    text-align: center;
  }
  
  .modal.active {
    top: 15%;
  }
  
  .modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  .modal .body {
    padding: 0.75rem;
  }
  
  .modal .start{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    
  }

  .start:hover{
    color: white;
    border: #2e2e2e;
    background:#2e2e2e;
    
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #overlay.active {
    display: block;
  }